.inputArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
}

h2 {
    margin: 40px 0 20px 0;
}

.input {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.btn {
    width: 130px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}